a {
    color: #af1622;
}

#container header h1 a {
    color: #af1622;
}

#container p em {
	line-height: 1.5;
}

#container nav {
    border-bottom: solid 2px #af1622;
}

#container nav ul li a.active {
	border-bottom-color: #af1622;
}

#container footer {
    border-top: solid 1px #af1622;
}